.test{
    color: rgba(238, 229, 229, 0.849);
    display:flex;
    justify-content: center;
    color: rgba(228, 213, 213, 0.589);
    color:rgba(138, 135, 135, 0.712);
border-radius: 15%;
    /* try to use z-index */
     
}
.testContainer{
    /* display:flex;
    z-index
    justify-content: center;
    flex-direction: column;
    justify-items: center; */
  background-image: url('../assets/water.jpg');
}